*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: midnightblue;
    color: azure;
}
.contains{
    margin: 12%;
    width: 50%;
}
.disp
{
    margin-top: 50px;
    margin-bottom: 20px;
    background: white;
    height: 50px;
    width:100%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 2em;
}
.contains h1 span
{
    color: limegreen;
    border-bottom: 5px solid limegreen;
}
.disp input{
    outline: 0;
    border: 0;
    font-size: 1.2rem;
}
.contains button{
    margin-top: 15px;
    width: 10rem;
    height: 2rem;
    font-size: 1em;
    color: aliceblue;
    background: limegreen;
    border-radius: 3em;
    outline:0;
    border: 0;
}